/* Free Trial Lesson */
.contact-area {
    background: linear-gradient(to right, #e5f1ff 0%, #e5f1ff 50%, #e7f4ff23 100%);
    padding: 80px 0 70px;
    position: relative;
    margin: 50px 0 10px;
}

.contact-image {
    background-image: url("../img/trial-contact/contact.jpg");
    background-size: cover;
    background-position: 50%;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.contact-contents {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-contents-inner h2 {
    text-align: left;
    font-size: 50px;
    color: rgb(50, 50, 175);
    line-height: 1;
}

.contact-contents-inner h3 {
    color: rgb(155, 155, 217);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 40px;
}

.contact-contents-text {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;;
    list-style: none;
}

.include-contact-button {
    margin-top: 50px;
}

.include-contact-button a{
    width: 50%;
    min-width: 450px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: navy;
    font-size: 17px;
    text-decoration: none;
    color: white;
    background-image: url(../img/icons/arrow_right_white.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 4%;
    background-size: auto 22%;
    transition: background-color .2s, color .2s;
}

.include-contact-button a:hover{
    color: white;
    background-color: rgb(155, 155, 217);
}

.include-contact-arrow {
    width: 15px;
    margin-left: 10px;
    fill: white;
}

.br-add500 {
    display: none;
}



.ja-contact-area h2 {
    font-size: 42px;
}

.ja-contact-area h3 {
    font-size: 28px;
}



@media (max-width: 768px) {
    /* ----- NEWS 768 -----  ----- NEWS 768 -----  ----- NEWS 768 -----  ----- NEWS 768 -----  ----- NEWS 768-----  */
    .news-area {
        padding: 80px 0 100px;
    }
    
    .news-contents ul li {
        padding: 20px 10px;
        display: block;
    }
    
    .news-contents ul li p:first-of-type {
        width: 100%;
        text-align: left;
    }
    
    .news-contents ul li p:last-of-type {
        width: 100%;
        margin-top: 5px;
        padding-left: 0;
    }

    /* ----- FFREE TRIAL 768 -----  ----- FFREE TRIAL 768 -----  ----- FFREE TRIAL 768 ----- */
    .contact-area {
        background: #e7f4ffcf;
        padding: 50px 0;
        position: relative;
    }

    .contact-image {
        background-position: 20%;
        width: 100%;
    }

    .contact-contents-inner h2 {
        text-align: center;
        font-size: 35px;
    }

    .contact-contents-inner h3 {
        margin-top: 30px;
        text-align: center;
        font-size: 25px;
    }


    .contact-contents-text {
        justify-content: center;
    }

    .br-remove768 {
        display: none;
    }

    .include-contact-button a{
        width: 100%;
        min-width: unset;
    }
}



@media (max-width: 500px) {
    /* ----- FREE TRIAL 500 -----  ----- FREE TRIAL 500 -----  ----- FREE TRIAL 500 ----- */
    .contact-contents-inner h2 {
        font-size: 28px;
    }

    .contact-contents-inner h3 {
        margin-top: 20px;
        font-size: 20px;
    }

    .br-add500 {
        display: initial;
    }

    .include-contact-button a{
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        /* background-color: rgb(255, 0, 111); */
        font-size: 17px;
        text-decoration: none;
        color: white;
    }
}